/** Planos **/
.planos {
    background: $auxiliary-color;
  }
  
  .planos h2 {
    color: $default-white;
  }
  
  .plano {
    background: $default-white;
    width: returnCalc(18);
    display: inline-block;
    margin: 1em 0 0 1.4em;
    padding-bottom: returnCalc(2);
    //chamado com mixin
  }
  
  .plano:hover {
    background: #dedede;
  }
  
  .plano h3 {
    color: $default-white;
    font-size: calculathor();
    background: $default-color;
    text-align: center;
    height: returnCalc(2);
    padding-top: returnCalc(0.6);
    margin-top: 0;
  }
  
  .plano div {
    text-align: center;
    color: $default-color;
    font-size: returnCalc(2.75);
    //chamado com function
  }
  
  .itens-plano {
    padding-left: returnCalc(1.2);
    li {
      font-size: returnCalc(1);
      list-style: none;
      border-bottom: 1px solid #acacac;
      padding: returnCalc(0.5);
      width: returnCalc(14.8);
      &:last-child {
        border: 0;
      }
    }
    span {
      float: right;
    }
  }
  
  .plano button {
    @include buttonsSettings(210px, 38px);
    @include borderRadius();
    @include box-shadow(black 0 2px 5px); // usando compass
    margin-left: returnCalc(2);
  }
  
  @include all-sprite-sprites; //compass
  .sprite-icone-ok, .sprite-icone-x {
    width: 18px;
    height: 18px;
  }
  