// Mixins usados no meu SASS
@mixin borderRadius ($radius: 0.3em) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin buttonsSettings ($width: auto, $height: auto){
    background: $default-color;
    border: 0;
    font-size: 1.2em;
    color: $default-white;
    width: $width;
    height: $height;
  }
  
  @mixin positionSettings ($value: 0){
    top: $value;
    left: $value;
    bottom: $value;
    right: $value;
    position: absolute;
    z-index: -1;
  }

  // Placeholders usados no meu SASS
  %defaultShadow {
    -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  }

%imageReplacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  